img{
    border-radius: 50%;
}

body{
    background-color: rgb(201, 218, 234);
}

h3{
    color: rgb(122, 98, 99)
}

ul{
     color: rgb(75, 88, 66);
}

ol{
    color: rgb(75, 88, 66);
}
